/* General Stuff */
#app { background: #000000; color: #FFFFFF }
.v-list-item__title.wrap { white-space: normal }

/* Z-Index Stuff */
header, .mobileNav { z-index: 8!important }
footer { z-index: 8!important }

/* Graph Stuff */
.graph {
    background-color: #000048;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 0 auto;
}
.tippy-content { cursor: default }

/* Sidebar + Mobile Nav */
.hasSidebar {
    padding-left: 256px !important;
    margin-bottom: 60px;
}
@media screen and (max-width: 600px) {
    .hasSidebar {
        padding-left: 12px !important;
        margin-bottom: 200px;
    }
}
.mobileNav {
    position: fixed;
    margin: 0 auto;
    bottom: 40px;
}
.mobileNav > div { width: 100% }